
/* Flex container for the split layout */
.split-container-services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 1.9rem;
}

.split-container-services .left-side {
  flex: 1;
  padding-right: 20px;
  padding-top: 90px;
}

.split-container-services .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
}

.split-container-services img {
  max-width: 100%;
  height: auto;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.split-container-services .right-side img {
  max-width: 70%;
  height: auto;
  padding-top: 60px;
  animation: slideIn 2s ease-out forwards;
}

/* Estilo para el botón */
.blue-button {
  background-color: #008DD0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; /* Puedes ajustar el borde redondeado o eliminar esta línea para un rectángulo perfecto */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.blue-button:hover {
  background-color: #2fa5db; /* Color más oscuro al pasar el mouse */
}

/* Responsive styles */
@media (max-width: 768px) {
  .split-container-services {
    flex-direction: column;
    text-align: center;
    padding-top: 0;
  }
  .p{
    margin-top: 1px;
  }

  .split-container-services .left-side, 
  .split-container-services .right-side {
    padding-right: 0;
  }

  .split-container-services .right-side img {
    animation: slideIn 2s ease-out forwards; /* Ensure animation is applied on smaller screens */
    margin-top: 0px; /* Space between the title and the image */
  }

  .split-container-services h1 {
    margin-bottom: 20px; /* Space below the title */
    padding: 0px;
  }
}
