
/* Flex container for the split layout */
.split-container-ubicacion {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 20px;
  font-size: 1.9rem;
  background-color: #e0e0e0;
  padding-top: 95px;
}

.split-container-ubicacion .left-side {
  flex: 1;
  padding-right: 20px;
  padding-top: 0px;
}

.split-container-ubicacion .right-side {
  flex: 1;
  display: flex;
  justify-content: center;
}

.split-container-ubicacion img {
  max-width: 100%;
  height: auto;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.split-container-ubicacion .right-side img {
  max-width: 100%;
  height: auto;
  animation: slideIn 2s ease-out forwards;
}

/* Estilo para el botón */
.blue-button {
  background-color: #64d389;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px; /* Puedes ajustar el borde redondeado o eliminar esta línea para un rectángulo perfecto */
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}

.blue-button:hover {
  background-color: #2fa5db; /* Color más oscuro al pasar el mouse */
}
.SquareLink {
  display: block;
  width: 100%;
  height: 100%;
}

.SquareImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .split-container-ubicacion {
    flex-direction: column;
    text-align: center;
    padding-top: 0;
  }
  .p{
    margin-top: 1px;
  }

  .split-container-ubicacion .left-side, 
  .split-container-ubicacion .right-side {
    padding-right: 0;
  }

  .split-container-ubicacion .right-side img {
    animation: slideIn 2s ease-out forwards; /* Ensure animation is applied on smaller screens */
    margin-top: 0px; /* Space between the title and the image */
  }

  .split-container-ubicacion h1 {
    margin-bottom: 20px; /* Space below the title */
    padding: 0px;
  }
}
